# ************************************
# Vhost template in module puppetlabs-apache
# Managed by Puppet
# ************************************

<VirtualHost *:{{items.port}}>
  ServerName {{ansible_fqdn}}

  ## Vhost docroot
  DocumentRoot "/usr/lib/cgi-bin/keystone"

  ## Directories, there should at least be a declaration for /usr/lib/cgi-bin/keystone

  <Directory "/usr/lib/cgi-bin/keystone">
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/apache2/keystone_wsgi_{{items.role}}.log"
  ServerSignature Off
  CustomLog "/var/log/apache2/keystone_wsgi_{{items.role}}_access.log" "%h %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\""
  WSGIDaemonProcess keystone_{{items.role}} display-name=keystone-{{items.role}} group=keystone processes={{ansible_processor_vcpus | default(2)}} threads={{ansible_processor_vcpus | default (1)}} user=keystone 
  WSGIProcessGroup keystone_{{items.role}}
  WSGIScriptAlias / "/usr/lib/cgi-bin/keystone/{{items.role}}"
  WSGIApplicationGroup %{GLOBAL}
  WSGIPassAuthorization On
  ## Custom fragment
LimitRequestFieldSize 81900
</VirtualHost>
